<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Головна</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/patient">Пацієнти</a></li>
    </ul>
  </div>
</nav>

<div class="attachment">
  <h3>Додатки пацієнта {{patientId}}</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Iм'я</td>
      <td>URL</td>
      <td>Дата завантаження</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.url}}</td>
      <td>{{item.dateFormatted}}</td>
      <td><button class="btn btn-danger" ng-click="delete(item)">видалити</button></td>
    </tr>
    <tr ng-form="form">
      <td></td>
      <td class="form-group" ng-class="{ 'has-error': form.name.$invalid }">
        <input type="text" class="form-control" placeholder="Iм'я" name="name" ng-model="newItem.name" required>
      </td>
      <td class="form-group">
        <button class="btn btn-default">завантажити файл</button>
      </td>
      <td class="form-group">
      </td>
      <td>
        <button class="btn btn-primary" ng-click="add()">додати</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
