<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Medical</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/patient">Patients</a></li>
      <li><a href="#/users">Users</a></li>
    </ul>
  </div>
</nav>

<div class="attachment">
  <h3>Attachments for Patient {{patientId}}</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Url</td>
      <td>Date</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.url}}</td>
      <td>{{item.date}}</td>
      <td><button class="btn btn-danger" ng-click="delete(item)">delete</button></td>
    </tr>
    <tr ng-form="form">
      <td></td>
      <td class="form-group" ng-class="{ 'has-error': form.name.$invalid }">
        <input type="text" class="form-control" placeholder="Name" name="name" ng-model="newItem.name" required>
      </td>
      <td class="form-group">
        <input type="text" class="form-control" placeholder="Url" name="url" ng-model="newItem.url">
      </td>
      <td class="form-group">
        <input type="date" class="form-control" placeholder="Date" name="date" ng-model="newItem.date">
      </td>
      <td>
        <button class="btn btn-primary" ng-click="add()">Add</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
