<div class="login">
  <h3>Авторизація</h3>
  <form name="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Iм'я користувача" name="username" ng-model="user.username" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Пароль" name="password" ng-model="user.password" required>
    </div>
    <div class="form-group">
      <a class="btn" ng-click="clear()">Очистити</a>
      <button class="btn btn-primary" ng-click="login()">Увійти</button>
    </div>
  </form>
</div>
