<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Головна</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/patient">Пацієнти</a></li>
    </ul>
  </div>
</nav>

<div class="patient">
  <h3>Пацієнти</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>ID</td>
      <td>Iм'я</td>
      <td>Доктор</td>
      <td>Код ЛЗ</td>
      <td>Дата нарождення</td>
      <td>Хвороби</td>
      <td>Алергії</td>
      <td>URL картки</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="item in items"
      patient-row="item"
      on-save="save"
      delete="delete"
    ></tr>
    <tr ng-form="form" patient-row="newItem" on-save="save"></tr>
    </tbody>
  </table>
</div>
